name = "ptgen"
type = "webpack"
webpack_config = "webpack.config.js"
workers_dev = true
account_id = "CF_ACCOUNT_ID"
vars = { INDIENOVA_COOKIE = "", DOUBAN_COOKIE = "", APIKEY = "WpF5tvqxkJ4jDv" }
kv_namespaces = [
  { binding = "PT_GEN_STORE", id = "" }
]
